<h1>URL Shortened!</h1>

<p>Original URL: <%= @url.original_url %></p>
<p>Short URL: <%= link_to short_url(@url.short_url), short_url(@url.short_url) %></p>

<%= link_to "Shorten Another URL", root_path %>
